.sidenav-container {
    height: 100%;
  }
  
  .test {
    width: 15rem;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }

.spacer {
    flex: 1 1 auto;
}

mat-sidenav-container{
    margin-top: 0.9rem;
    height: 100%;
}
mat-sidenav-content{
    height: 85vh;
}
