<div class="container">
    <div class="row">
      <div class="col">
        <!-- Card -->
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <!-- <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  The strength of the team is each individual member. The strength of each member is the team.<br><br>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent">MANAGE TEAMS</button>
            </mat-card-actions>
          </mat-card>
      </div>
      <div class="col">
        <!-- Card -->
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <!-- <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Surround yourself with the best people you can find, delegate authority, and don’t interfere as long as the policy you’ve decided upon is being carried out.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent">MANAGE USERS</button>
            </mat-card-actions>
          </mat-card>
          
      </div>
    </div>
</div>



